* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-size: 100%;
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
}

button {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-radius: 0.5rem;
  border: none;
  background: #216869;
  color: #fff;
  cursor: pointer;
  position: relative;
  max-width: 18rem;
  word-break: break-word;
  word-wrap: break-word;
  transition: all 0.5s;
}

button:focus,
button:hover {
  outline: none;
}

button:focus::before,
button:hover::before {
  box-shadow: #216869 0 0 0 0.0625rem;
  content: "";
  height: calc(100% + 0.25rem);
  left: 0;
  margin-left: -0.25rem;
  margin-top: -0.25rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: calc(100% + 0.25rem);
  border-radius: inherit;
  padding: 0.125rem;
}

#submitButton {
  margin-left: 0.25rem;
}

input {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border: 0.0625rem solid #000;
  border-radius: 0.25rem;
  background: #fff;
  color: #000;
  position: relative;
}

input:focus,
input:hover {
  outline: none;
  border-bottom: 0.25rem solid #216869;
  padding: 0.5rem 0.75rem 0.3125rem 0.75rem;
}

#questionForm {
  margin-top: 2rem;
}

table {
  border-collapse: collapse;
  width: 48rem;
  max-width: 100%;
  margin: auto;
  text-align: left;
}

table td, table th {
  border: 0.0625rem solid #ddd;
  padding: 0.5rem;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  padding: 0.75rem 0.5rem;
  background-color: #216869;
  color: #fff;
}

table .questionColumn {
  width: 80%;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 1rem 2rem 1rem;
  }

  table {
    display: block;
  }
}
